/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 25px;
}

header{
  text-align: left;
}

/* Body Styling */
body {
  font-family: Tahoma;
  background-color: rgb(245,249,242); /* Light Sage Green */
  text-align: center;
  padding: 20px;
}
 
a:link {
  color: Black;
  text-decoration: none;
  font-size: 30px;
 }

a:visited {
  color: Black;
  text-decoration: none;
}

li {
  color: black;
  text-align: center; 
  display: inline-flex;
  padding: 14px 20px;
  font-size: 18px;
 
}
 
a:hover {
  color: #A1A2DA;
}
 
/* Main Content Styling */
content {
  flex: 1; /* Allows the content area to expand */
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
}
 
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.container1{
  width:1500px;
  height:650px;
  background-color: rgb(220,225,216);
  display: flex;
  flex-wrap: wrap;
  gap: 25px 0px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  justify-content: center; 
}

.box1{ 
  text-align: center;
  padding: 100px;
  font-size: 25px;
}
 
b{
  font-size: 45px;
}