/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 25px;
  }
   
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; 
  }

  /* Body Styling */
  body {
    font-family: Tahoma;
    background-color: rgb(245,249,242); /* Light Sage Green */
    text-align: center;
    padding: 20px;
  }
  
  a:link {
   color: Black;
   text-decoration: none;
   font-size: 30px;
  }
  
  a:visited {
    color: Black;
    text-decoration: none;
  }
   
  a:hover {
    color: #A1A2DA;
  }
   
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  h2{
    text-align: center;
    font-size: 65px;
  }

.module li{
  color: black;
  text-align: center; 
  display: inline-flex;
 
  padding: 14px 20px;
  font-size: 18px;
}

.module-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 250px;
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.module {
  background-color: rgb(220, 225, 216);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

  nav li {
    color: black;
    text-align: center; 
    display: inline-flex;
   
    padding: 14px 20px;
    font-size: 18px;
  }

  .module-icon {
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}